<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/tripPlanner.css">
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
  	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANuahfmbuHD0byC2cW7IUxl2OFP2r3dso&sensor=true"></script>
  	<script src="/bower_components/jquery/dist/jquery.js"></script>
  	<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</html>